:root {
    --space-between-elements: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: white;
}

.card {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: fit-content;
}

.card_wrapper {
    padding: var(--space-between-elements);
}

.card_category:nth-child(1) {
    background-color: #e28525;
}

.card_category:nth-child(2) {
    background-color: #016972;
}

.card_category:nth-child(3) {
    background-color: #00403f;
}


.card_category--title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin-bottom: var(--space-between-elements);
    margin-top: var(--space-between-elements);
}

.card_category--button a {
    margin-top: calc(var(--space-between-elements)*2);
    background-color: white;
    height: 40px;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sedans .card_category--button a {
    color: #e28525;
}

.sedans .card_category--button a:hover {
    background-color: #e28525;
    border: 1px solid white;
    color: white;
}

.suvs .card_category--button a {
    color: #016972;
}

.suvs .card_category--button a:hover {
    background-color: #016972;
    border: 1px solid white;
    color: white;
}


.luxury .card_category--button a {
    color: #00403f;
}

.luxury .card_category--button a:hover {
    background-color: #00403f;
    border: 1px solid white;
    color: white;
}


@media(max-width: 730px) {
    .card {
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
    }
}